



.social-developer {
    font-size: 30px;
}

body>.container{
	padding-top: 20px;
	padding-bottom: 20px;
}	

/*
.container{
  padding-bottom: 15px;
}
*/

/** ============================== top menu style
**/

ul.nav .profile{
	margin: 5px;
	padding: 5px;
}

.navbar-custom{
	z-index: 2001;

	background-color: white;
  /* works for IE 5+. */
  filter:alpha(opacity=90); 
  /* works for IE 8. */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  /* works for old school versions of the Mozilla browsers like Netscape Navigator. */
  -moz-opacity:0.9; 
  /* This is for old versions of Safari (1.x) with KHTML rendering engine */
  -khtml-opacity: 0.9; 
  /* This is the "most important" one because it's the current standard in CSS. This will work in most versions of Firefox, Safari, and Opera. */  
  opacity: 0.9; 
}

/** ============================== form style
**/
.panel-heading{
	padding: 5px 10px;
}

/** ============================== modal style
**/

.modal-backdrop{
  z-index: 99998;
}
.modal-content{
    padding: 0px 10px 0px 10px ;
}

.modal-footer{
    border-top : solid 1px #ddd;
    margin-top : 15px;
}
.col-xs-12>label{
    font-weight: 300;
}

.modal {
    z-index: 99999;
}
