
@import helper._

@main("Todo list") {
<link href="@routes.Assets.at("css/stalk.css")" rel="stylesheet" />
<section id="content">
<div class="container container-full">
		<div class="row">
			<div class="col-lg-12">
				<div>
					<h1>LOGIN</h1>
					
		          	<div class="col-lg-3"></div>
				
		          	@form(action = routes.Stalk.login(), 'id -> "contactform", 'class -> "col-lg-6"){	
		          		
		          		<div class="panel panel-primary">
		          		  <div class="form-group">
			                @if(flash.contains("error")) {
			          			<div class="alert alert-dnager">
		          					@flash.get("error")
			          			</div>
			          		}
							</div> 
						  <div class="panel-body">
						  
							<div class="col-lg-12 margintop10  field">
								<input type="text" name="email" placeholder="* Email" data-rule="emails" data-msg="Please enter a valid email" />
								<div class="validation">
								</div>
							</div>
							<!-- <p>What is your website URL?</p> -->
							<div class="col-lg-12 margintop10  field">
								<input type="password" name="password" placeholder="* Password" />
								<div class="validation">
								</div>
							</div>
							
							<!-- <h4>Re-enter your super secret password</h4> -->
							<div class="col-lg-3"></div>
							<button type="submit" id="saveBtn" class="col-lg-6 btn btn-warning btn-lg">Sign in</button>
							<div class="col-lg-3"></div>
						  </div>
						  
						</div>

						
		         }
		          <div class="col-lg-3"></div>
				</div>

			</div>
		</div>

	</div>
	</section>
	@footer()
}
